@inherits LayoutComponentBase

<MudThemeProvider Theme="ForeSinsTheme.MudTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <div>
        <Fairway Style="position: relative; height: 70px; border-bottom-right-radius: 50% 30px; border-bottom-left-radius: 50% 30px;">
            <MudAppBar Elevation="0" Color="Color.Transparent">
                <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.Start" />
                <MudSpacer />
                <ForeSins.App.Shared.Atoms.LittleLogo Style="margin-top:10px" />
                <MudSpacer />
                <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
            </MudAppBar>
        </Fairway>
        
    </div>
    
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>