@inherits LayoutComponentBase

<MudThemeProvider Theme="ForeSinsTheme.MudTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout Style="background: linear-gradient(180deg, #DDD 0px, #FFF 500px);">
    <div>
        <Fairway Style="position: fixed; top: 0; left: 0; right: 0; height: 70px; border-bottom-right-radius: 50% 30px; border-bottom-left-radius: 50% 30px; z-index: 1200; border-bottom: 3px solid rgba(0,0,0, 0.3);">
            <MudAppBar Elevation="0" Color="Color.Transparent">
                <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.Start" />
                <MudSpacer />
                <a href="/"><ForeSins.App.Shared.Atoms.LittleLogo Style="margin-top:10px" /></a>
                <MudSpacer />
                <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
            </MudAppBar>
        </Fairway>
        
    </div>
    
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>