<div class="fs-green @(HasCurvedTop ? "fs-green--curved-top" : "") @(HasCurvedBottom ? "fs-green--curved-bottom" : "")" style="@Style">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }

    [Parameter] public string Style { get; set; }

    [Parameter] public bool HasCurvedTop { get; set; }

    [Parameter] public bool HasCurvedBottom { get; set; }
}