@if (HasGrass)
{
    <Grass></Grass>
}

<div class="fs-hell @(HasGrass ? "fs-hell--grass" : "") @(HasCurvedTop ? "fs-hell--curved-top" : "") @(HasCurvedBottom ? "fs-hell--curved-bottom" : "")">
    <div class="sparks"></div>
    <div class="sparks2"></div>
    <div class="sparks3"></div>

    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }

    [Parameter] public bool HasGrass { get; set; }

    [Parameter] public bool HasCurvedTop { get; set; }

    [Parameter] public bool HasCurvedBottom { get; set; }
}