@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
    --main-gold: #CD991E;
    --main-red: #BF406D;
    --main-blue: #40A9BF;
    --main-green: #4DB258;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Mud overrides */

::deep .mud-charts-yaxis{
    display:none !important;
}

/*font-family: 'Oswald', sans-serif;
font-family: 'Roboto Slab', serif;*/
body, #app {
    min-height: 100vh;
    position: relative;
}

.fs-scroll-target {
    scroll-margin: 100px;
}

.fs-scroll-target--small {
    scroll-margin: 80px;
}

.fs-min-vh-100 {
    min-height: 100vh;
}

.fs-max-100{
    max-width:100%;
}

.fs-max-90 {
    max-width: 90%;
}

.fs-max-80 {
    max-width: 80%;
}

.fs-max-66 {
    max-width: 66%;
}

.fs-max-50 {
    max-width: 50%;
}

.fs-max-33 {
    max-width: 33%;
}

.fs-min-25{
    min-width:25%;
}

.fs-input-panel {
    display: flex;
    position:relative;
    align-content: normal;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    padding: 14px 20px 20px;
    background: white;
    border-radius: 5px;
}

    .fs-input-panel .fs-heading{
        text-shadow:none !important;
    }

    
    /* Spacing */
    .fs .mud-main-content {
        margin-top: 0;
        padding-top: 0;
    }

.fs-heading-spacer {
    padding-top: 80px;
}

.fs-margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.fs-equal-3 {
    display: flex;
    align-items: center;
}

    .fs-equal-3 div {
        flex: 1;
    }


/* Colours */
.fs-main-red {
    color: #BF406D;
}

.fs-main-gold {
    color: #CD991E;
}

::deep .fs-main-white {
    color: #FFFFFF !important;
}

/* Forms */

.fs-white-select.mud-select {
    background:white !important;
}

.fs-white-50-select.mud-select {
    background: rgba(255, 255, 255, 0.5);
    background: rgba(0,0,0, 0.5);
    border-radius: 5px;
    color: #fff;
}

    .fs-white-50-select.mud-select .mud-select-input, 
        .fs-white-50-select.mud-select .mud-select-input svg {
        color: #fff;
        fill: white;
    }

/* Borders */
.fs-border-gold, .fs-border-g, .fs-border-a {
    border-color: var(--main-gold);
}

.fs-border-red, .fs-border-s {
    border-color: var(--main-red);
}

.fs-border-blue, .fs-border-c {
    border-color: var(--main-blue);
}

.fs-border-green, .fs-border-b {
    border-color: var(--main-green);
}

.fs-border-black, .fs-border-d {
    border-color: #000;
}

.fs-border-white {
    border-color: #FFF;
}

.fs-border-1{
    border-width:1px;
    border-style:solid;
}

.fs-border-2 {
    border-width: 2px;
    border-style: solid;
}

.fs-border-3 {
    border-width: 3px;
    border-style: solid;
}

.fs-border-5 {
    border-width: 5px;
    border-style: solid;
}

.fs-border-10 {
    border-width: 10px;
    border-style: solid;
}

/* Fonts and Text */
.fs-text-center {
    text-align: center;
}

.fs-text-compact{
    line-height:1.2;
}

.fs-slab {
    font-family: 'Roboto Slab', serif;
}

.fs-tiny-text {
    font-size: 8px;
}

.fs-small-text {
    font-size: 10px;
}

.fs-regular-text {
    font-size: 14px;
}

.fs-medium-text {
    font-size: 16px;
}

.fs-large-text{
    font-size: 24px;
}

.fs-massive-text {
    font-size: 32px;
}

.fs-heading {
    font-family: 'Roboto Slab', serif;
    text-align:center;
    text-transform:uppercase;
}

h3.fs-heading {
    font-size: 16px;
    font-weight:800;
}

h2.fs-heading {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.fs-input-panel .fs-heading{
    color: var(--main-red) !important;
}

/* Golf */
.fs-under-par {
    border-color: var(--main-red) !important;
    color: var(--main-red) !important;
}


.fs-level-par {
    border-color: var(--main-green) !important;
    color: var(--main-green) !important;
}


.fs-over-par {
    border-color: var(--main-blue) !important;
    color: var(--main-blue) !important;
}


/* Plus or minus */

.fs-plus-or-minus {
    text-align: center;
}

.fs-plus-or-minus__fieldset {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .fs-plus-or-minus__fieldset button {
        margin: 0;
    }

.fs-plus-or-minus__field {
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 6px;
    margin-left: 6px;
    margin-right: 6px;
    border: 3px solid #424242;
    font-weight: bold;
}


.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
