@inject Services.HorndicapService service

@if (Rounds != null)
{

	if (Horndicap != null)
	{
		<div class="fs-horndicap-banner fs-border-@(Horndicap.Grade.GetGradeClass())">
		 <div class="fs-horndicap-banner__details">
		  <img src="images/details/horndicap-@(Horndicap.Grade.GetGradeColour()).svg" class="fs-max-100 fs-horndicap-banner__title" alt="Horndicap" title="Horndicap" /><br />
		  <span>Your <span class="fs-slab"><strong class="fs-main-red">SIN</strong>DEX</span> is <strong>@Horndicap.Sindex.ToString("#.#")</strong></span><br />
		 </div>
		 <div class="fs-horndicap-banner__grade">
		  <img src="images/grades/@(Horndicap.Grade.GetGradeClass()).png" class="fs-max-100 fs-grade-image" />
		 </div>
		</div>
	}

	if (SixSixSix != null)
	{
		<div class="fs-666-banner">
			@foreach (var six in SixSixSix)
			{
				var startEndClass = six.Key == "Rounds" ? "fs-666-banner__item--first" : six.Key == "Years" ? "fs-666-banner__item--last" : "";

			 <div class="fs-666-banner__item @startEndClass">
			  <p class="fs-666-banner__time"><strong class="fs-slab fs-large-text fs-main-red">6</strong><br />@six.Key</p>
			  <img src="images/grades/@(six.Value.Grade.GetGradeClass()).png" class="fs-max-80 fs-grade-image" />
			  <p class="fs-666-banner__sindex">@six.Value.Sindex.ToString("#.#")</p>
			 </div>
			}
		</div>
	}
}

@code {
	[Parameter] public List<Round> Rounds { get; set; }

	[Parameter] public Horndicap Horndicap { get; set; }

	[Parameter] public Dictionary<string, Horndicap> SixSixSix { get; set; }

	protected override Task OnInitializedAsync()
	{
		if (Rounds == null)
		{
			return Task.CompletedTask;
		}

		Horndicap = service.CalculateHorndicap(Rounds);

		if (Rounds.Count > 6)
		{
			var sixes = service.CalculateSixSixSix(Rounds);

			SixSixSix = new Dictionary<string, Horndicap>
			{
				{ "Rounds", sixes.Last6Rounds },
				{ "Months", sixes.Last6Months },
				{ "Years", sixes.Last6Years }
			};
		}


		return Task.CompletedTask;
	}
}