.fs-round-list {

}

.fs-round-list__item {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 10px;
    background: white;
    border-radius: 5px;
    border-width: 2px;
    border-style:solid;
    margin:auto;
}

.fs-round-list__grade {
    flex:15;
}

.fs-round-list__date {
    flex: 30;
    text-align:center;
}

.fs-round-list__scores {
    flex: 55;
    text-align: right;
}

::deep .fs-round-list__scores .score-over-par,
::deep .fs-round-list__scores .score-under-par,
::deep .fs-round-list__scores .score-level-par {
    display: inline-block;
    height: 36px;
    width: 36px;
    text-align:center;
    line-height:36px;
    vertical-align:middle;
    padding:0px;
}

::deep .fs-round-list__scores .sins {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    padding: 0;
    border-radius: 1000px;
    background: radial-gradient(circle, #FFF 0%, rgb(248, 225, 225) 50%, var(--main-red));
    color: white !important;
    border: 1px solid var(--main-red);
    font-weight: bold;
    margin-right:2px;
}

::deep .fs-round-list__scores .fs-horny::before {
    background-size: 10px 20px;
    height: 20px;
    width: 10px;
    margin-top: -13px;
    top: -13px;
}

::deep .fs-round-list__scores .fs-horny::after {
    background-size: 10px 20px;
    height: 20px;
    width: 10px;
    margin-top: -13px;
    top: -13px;
}