.fs-round-list {

}

.fs-round-list__item {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 10px;
    background: white;
    border-radius: 5px;
    border-width: 2px;
    border-style:solid;
    margin:auto;
}

.fs-round-list__grade {
    flex:10;
}

.fs-round-list__date {
    flex: 40;
    text-align:center;
    font-weight:bold;
}

@media only screen and (min-width: 360px) {
    .fs-round-list__date {
        font-size: 16px;
    }
}

.fs-round-list__scores {
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex: 55;
    text-align: right;
}

::deep .fs-round-list__scores .score-over-par,
::deep .fs-round-list__scores .score-under-par,
::deep .fs-round-list__scores .score-level-par {
    display: inline-block;
    height: 36px;
    width: 36px;
    text-align:center;
    line-height:36px;
    vertical-align:middle;
    padding:0px;
}