<div class="fs-max-90 fs-sins-grid">
    <div>
        <SinInput Sin="Sins.SickeningYips" />
    </div>
    <div>
        <SinInput Sin="Sins.ShockingChips" />
    </div>
</div>
<div class="fs-max-90 fs-sins-grid">
    <div>
        <SinInput Sin="Sins.SplashTroubles" />
    </div>
    <div>
        <SinInput Sin="Sins.ScrappyDoubles" />
    </div>
</div>
<div class="fs-max-90 fs-sins-grid">
    <div>
        <SinInput Sin="Sins.SquanderedPositions" />
    </div>
    <div>
        <SinInput Sin="Sins.StupidDecisions" />
    </div>
</div>

@code {

}
