@inject IJSRuntime JS

<div class="fs-cta">
    <MudButton DisableElevation="true" Size="Size.Large" Color="@Colour" Variant="IsImportant ? Variant.Filled : Variant.Outlined" @onclick="HandleClick" EndIcon="@EndIcon" Class="@Class" Style="@(IsWhite ? "background-color:white" : "")">
        @Text
    </MudButton>
</div>

@code {
    [Parameter] public bool IsImportant { get; set; }

    [Parameter] public string Text { get; set; }

    [Parameter] public Color Colour { get; set; } = Color.Primary;

    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }

    [Parameter] public string EndIcon { get; set; }

    [Parameter] public string ScrollToId { get; set; }

    [Parameter] public string Class { get; set; }

    [Parameter] public bool IsWhite { get; set; }

    public void HandleClick(MouseEventArgs args)
    {
        Console.WriteLine("Hello handle click");

        if (ScrollToId != null)
        {
            Console.WriteLine("Hello scroll");
            JS.InvokeVoidAsync($"scroll", ScrollToId);
        }

        OnClick.InvokeAsync(args);
    }
}