<span class="@Score.GetScoreClass() @Class @BorderedAndColouredClass" style="@Style">@Score.FormatScore()</span>

@code {
    [Parameter] public int Style { get; set; }

    [Parameter] public string Class { get; set; }

    [Parameter] public int Score { get; set; }

    [Parameter] public bool IsBorderedAndColoured { get; set; }

    public string BorderedAndColouredClass => IsBorderedAndColoured ? Score < 0 ? "fs-border-1 fs-under-par" : (Score > 0 ? "fs-border-1 fs-over-par" : "fs-border-1 fs-level-par") : ""; 
}