.fs-horny {
    color: #BF406D;
    font-weight: bold;
    position: relative;
}

    .fs-horny::before {
        position:relative;
        display: inline-block;
        content: ' ';
        background-image: url('/images/details/horn-left.svg');
        background-size: 5px 10px;
        height: 10px;
        width: 5px;
        margin-top:-10px;
        top:-10px;
    }

    .fs-horny::after {
        position: relative;
        display: inline-block;
        content: ' ';
        background-image: url('/images/details/horn-right.svg');
        background-size: 5px 10px;
        height: 10px;
        width: 5px;
        margin-top: -10px;
        top: -10px;
    }

    .fs-horny.fs-horny--large::before {
        background-size: 10px 20px;
        height: 20px;
        width: 10px;
        margin-top: -13px;
        top: -13px;
    }

    .fs-horny.fs-horny--large::after {
        background-size: 10px 20px;
        height: 20px;
        width: 10px;
        margin-top: -13px;
        top: -13px;
    }

    .fs-horny.fs-horny--large::before {
        background-size: 10px 20px;
        height: 20px;
        width: 10px;
        margin-top: -13px;
        top: -13px;
    }

    .fs-horny.fs-horny--small::after {
        background-size: 3px 7px;
        height: 7px;
        width: 3px;
        margin-top: -7px;
        top: -7px;
    }

    .fs-horny.fs-horny--small::before {
        background-size: 3px 7px;
        height: 7px;
        width: 3px;
        margin-top: -7px;
        top: -7px;
    }