@page "/dashboard"
@layout MainLayout

<HorndicapBanner></HorndicapBanner>

<MudText Align="Align.Center" Typo="Typo.h5" Style="margin-bottom:20px;"><span class="fs-slab">Your rounds</span></MudText>

<RoundTimeline Rounds="rounds"></RoundTimeline>



<BottomButtons>
    <Right>
        <MudFab Icon="@Icons.Filled.Add" Color="Color.Secondary"></MudFab>
    </Right>
</BottomButtons>

@code {
    List<Round> rounds = Fakes.Rounds;
}
