@page "/dashboard"
@using ForeSins.App.Database
@layout MainLayout

@inject RoundRepository Repo

<HorndicapBanner></HorndicapBanner>

<MudText Align="Align.Center" Typo="Typo.h5" Style="margin-bottom:20px;"><span class="fs-slab">Your rounds</span></MudText>

<RoundTimeline Rounds="Rounds"></RoundTimeline>

<BottomButtons>
    <Right>
        <MudFab Icon="@Icons.Filled.Add" Color="Color.Secondary" Link="/edit-round"></MudFab>
    </Right>
</BottomButtons>

@code {
    public List<Round> Rounds { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Rounds = await Repo.GetRounds();
    }
    
}
